[submodule "nginx-mod-ipscrub"]
	path = nginx-mod-ipscrub
	url = ssh://aur@aur.archlinux.org/nginx-mod-ipscrub.git
[submodule "pacman-static"]
	path = pacman-static
	url = ssh://aur@aur.archlinux.org/pacman-static.git
[submodule "courier-mta"]
	path = courier-mta
	url = ssh://aur@aur.archlinux.org/courier-mta.git
[submodule "courier-authlib"]
	path = courier-authlib
	url = ssh://aur@aur.archlinux.org/courier-authlib.git
[submodule "courier-unicode"]
	path = courier-unicode
	url = ssh://aur@aur.archlinux.org/courier-unicode.git
