[submodule "nginx-mod-ipscrub"]
	path = nginx-mod-ipscrub
	url = gitolite@eckner.net:aur/nginx-mod-ipscrub.git
[submodule "pacman-static"]
	path = pacman-static
	url = gitolite@eckner.net:aur/pacman-static.git
[submodule "python-postpic"]
	path = python-postpic
	url = gitolite@eckner.net:aur/python-postpic.git
[submodule "zdkimfilter"]
	path = zdkimfilter
	url = gitolite@eckner.net:aur/zdkimfilter.git
[submodule "jabberd2"]
	path = jabberd2
	url = gitolite@eckner.net:aur/jabberd2.git
[submodule "nagircbot"]
	path = nagircbot
	url = gitolite@eckner.net:aur/nagircbot.git
