[submodule "nginx-mod-ipscrub"]
	path = nginx-mod-ipscrub
	url = ssh://aur@aur.archlinux.org/nginx-mod-ipscrub.git
[submodule "pacman-static"]
	path = pacman-static
	url = ssh://aur@aur.archlinux.org/pacman-static.git
[submodule "python-postpic"]
	path = python-postpic
	url = ssh://aur@aur.archlinux.org/python-postpic.git
[submodule "zdkimfilter"]
	path = zdkimfilter
	url = ssh://aur@aur.archlinux.org/zdkimfilter.git
